@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Playfair+Display:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Open+Sans:wght@400;600&display=swap');


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.custom-card {
  background-color: #ffdda9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
  text-align: center;
}

.card-img-top {
  height: 150px;
  object-fit: cover;
}

.card-title
{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.ranking-list-index
{
  margin-top: 10px;
}

.ranking-item
{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.img-rank
{
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.ranking-username-index
{
  font-size: 18px;
  font-weight: normal;
  margin-left: 10px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.tarjetas-botones
{
  text-decoration: none;
}

.progress-text
{
  font-family: 'Open Sans', sans-serif;
}

.progress-bar-index
{
  background-color: rgb(199, 66, 93);
}

.metric-list
{
  margin-top: 10px;
}

.metric-description
{
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.metric-value
{
  font-size: 16px;
  font-weight: bold;
}

.btn-primary
{
  background-color: crimson;
  color: white;
  border-radius: 8px;
  padding: 20px 60px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.btn-primary:hover
{
  background-color: #880505;
}