/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.header-container
{
  display: flex;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
  background-color: beige;

}
.logo
{
  height: 50px;
  cursor: pointer;
  margin: 0;
}

.logo:hover
{
  opacity: 0.8;
}

.iconos-derecha {
  display: flex;
  align-items: center;
  gap: 15px;
}

nav ul
{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li
{
  margin: 0 10px;
}

nav ul li a
{
  text-decoration: none;
}

.dropdown-toggle::after {
  display: none;
}

.menu_usuario
{
  height: 50px;
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
